.luz {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #555;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 0 auto;
}

.luz-roja.activa {
  background-color: red;
}

.luz-amarilla.activa {
  background-color: orange;
}

.luz-verde.activa {
  background-color: green;
}